# ignore dot files/directories
.*

# but not these two dot files/directories
!.gitignore
!.github

# remaining files / extensions / directories to ignore
*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
*.pdb
*.ilk
/out/build/x64-Release
/out/build/Debug-BC-Ninja
/out/build/Debug-Ninja
/out/build/Debug-BC-VS
/out/build/Debug-VS
node_modules
xcuserdata/

